
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for</p>
      <p>it uses utility classes for typography</p>
      <a class="btn btn-success btn-lg">Sign up</a>
    </div>
  </div>

